    <footer class="map-bg">
      <div class="container py-5 border-bottom z-index-20 position-relative">
        <div class="row pt-5 gy-4">
          <div class="col-lg-3 col-md-6"><img class="mb-3" src="assets/images/lg.png" alt="" width="120">
            <ul class="list-unstyled text-muted">
              <li><a class="reset-anchor textLink" href="mailto:Info@company.com">Info@company.com</a></li>
              <li><a class="reset-anchor textLink" href="tel:+975478985">+2349016000000</a></li>
            </ul>
            <ul class="list-inline text-muted">
              <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6">
            <h4>Pages</h4>
            <ul class="list-unstyled text-muted mb-0">
              <li class="mb-1"><a class="text-sm footerLinks" href="#!">Home</a></li>
              <li class="mb-1"><a class="text-sm footerLinks" href="#!">About us</a></li>
              <li class="mb-1"><a class="text-sm footerLinks" href="#!">Our Services</a></li>
              <li class="mb-1"><a class="text-sm footerLinks" href="#!">Blog</a></li>
              <li class="mb-1"><a class="text-sm footerLinks" href="#!">Contact us</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6">
            <h4>Custom Links</h4>
            <ul class="list-unstyled text-muted mb-0">
              <li class="mb-1"><a class="text-sm footerLinks" href="#!">Support center</a></li>
              <li class="mb-1"><a class="text-sm footerLinks" href="#!">Customer support</a></li>
              <li class="mb-1"><a class="text-sm footerLinks" href="#!">About us</a></li>
              <li class="mb-1"><a class="text-sm footerLinks" href="#!">copyright</a></li>
              <li class="mb-1"><a class="text-sm footerLinks" href="#!">popular campaign</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4">
            <h4>Policy</h4>
            <ul class="list-unstyled text-muted mb-0">
              <li class="mb-1"><a class="text-sm footerLinks" href="#!">Privacy Policy</a></li>
              <li class="mb-1"><a class="text-sm footerLinks" href="#!">Refund Policy</a></li>
              <li class="mb-1"><a class="text-sm footerLinks" href="#!">Terms & Conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container py-4 z-index-20 position-relative">
        <div class="row text-center">
          <div class="col-lg-6 p-lg-0 text-lg-start">
            <p class="text-muted text-sm mb-0">© 2021 Braintech, All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 p-lg-0 text-lg-end">
            <p class="text-muted text-sm mb-0">Developed by <a class="textprimary reset-anchor"
                href="https://linkedin.com/in/piusash/">Pius Ashogbon</a>
            </p>
          </div>
        </div>
      </div>
    </footer>