<section class="hero hero-home with-pattern d-flex align-items-center py-5">
  <div class="container py-5 mt-5">
    <div class="row align-items-center py-5">
      <div class="col-md-6 mb-5 mb-md-0 py-1">
        <h1 class="headText mb-4">Great companies are built on great products
        </h1>
        <p class="heroText mb-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
          tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        <button class="btn11">INTRO</button>
      </div>
      <div class="col-md-5 ml-auto">
        <div class="img-gradient img-gradient-right"><img class="img-fluid shadow rounded"
            src="asss/images/hero-img.jpg" alt=""></div>
      </div>
    </div>
  </div>
</section>


<section class="py-5 thisSection">
  <div class="container py-5">
    <div class="row py-2">
      <div class="col-lg-1">

      </div>
      <div class="col-lg-5">
        <h2>

          We Are Increasing Business Success With Technology
        </h2>
        <p>

          Over 25 years working in IT services developing software applications and mobile apps for clients all over
          the world.
          We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of
          pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound
          to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the
          same as saying.
        </p>

      </div>
      <div class="col-lg-6">
        <img src="/assets/images/about-5.png" alt="" style="width: 400px;">
      </div>
    </div>
  </div>
</section>
<section class="move pb-5">
  <div class="container pb-5">
    <div class="row gy-3">
      <div class="col-lg-4 newt">
        <div class="fBg d-flex shadow-sm" style="background-color: #00057A;">
          <div class="ms-3">
            <h5 class="weText1 text-white">Corporate Management</h5>
            <p class="text-sm lightText text-white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 newt">
        <div class="fBg d-flex shadow-sm">
          <div class="ms-3">
            <h5 class="weText1">Financing management</h5>
            <p class="text-sm text-muted lightText">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
          </div>
        </div>
      </div>
            <div class="col-lg-4 newt">
              <div class="fBg d-flex shadow-sm" style="background-color: #00057A;">
                <div class="ms-3">
                  <h5 class="weText1 text-white">Insurance Management</h5>
                  <p class="text-sm lightText text-white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                </div>
              </div>
            </div>
    </div>
  </div>
</section>
