    <section class="py-5">
      <div class="container py-5">
        <div class="row text-center mb-5">
          <div class="col-lg-7 mx-auto">
            <p class="h5 text-uppercase fw-bold" style="color: #00057A;">Pricing</p>
            <h2 class="mb-3">Not any hidden charge, Choose Your pricing plan</h2>
            <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
              tempor invidunt</p>
          </div>
        </div>
        <div class="row align-items-center gx-lg-0 gy-4">
          <div class="col-lg-4">
            <div class="card shadow">
              <div class="card-body text-center py-5 p-lg-5">
                <p class="h5 mb-2 text-uppercase">Basic</p>
                <p class="text-sm text-gray">Monthly Package</p>
                <h3 class="table-price mb-4"><sup>$</sup>9.99</h3>
                <ul class="list-unstyled mb-4 text-muted">
                  <li class="mb-1">50GB Bandwidth </li>
                  <li class="mb-1">Business &amp; Financ Analysing </li>
                  <li class="mb-1">24 hour support </li>
                  <li class="mb-1">Customer Management </li>
                </ul><a class="btn1" href="#!">Subscribe</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card shadow text-white bg-pattern bg-v-wide z-index-20"
              style="background-color:  #00057A;">
              <div class="card-body text-center py-5 p-lg-5 z-index-10">
                <p class="h5 mb-2 text-uppercase">Standard</p>
                <p class="text-sm">Monthly Package</p>
                <h3 class="table-price mb-4"><sup>$</sup>19.99</h3>
                <ul class="list-unstyled mb-4">
                  <li class="mb-1">50GB Bandwidth </li>
                  <li class="mb-1">Business &amp; Financ Analysing </li>
                  <li class="mb-1">24 hour support </li>
                  <li class="mb-1">Customer Management </li>
                </ul><a class="btn1" href="#!">Subscribe</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card shadow">
              <div class="card-body text-center py-5 p-lg-5">
                <p class="h5 mb-2 text-uppercase">Premium</p>
                <p class="text-sm text-gray">Monthly Package</p>
                <h3 class="table-price mb-4"><sup>$</sup>40.99</h3>
                <ul class="list-unstyled mb-4 text-muted">
                  <li class="mb-1">50GB Bandwidth </li>
                  <li class="mb-1">Business &amp; Financ Analysing </li>
                  <li class="mb-1">24 hour support </li>
                  <li class="mb-1">Customer Management </li>
                </ul><a class="btn1" href="#!">Subscribe</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
