<app-header></app-header>
    <section class="hero with-pattern py-5 bg-light">
      <div class="container py-5 my-5">
        <div class="row">
          <div class="col-md-7 mx-auto text-center">
            <p class="h6 h66 text-uppercase">Services</p>
            <h1>You can depend on us for a better service</h1>
            <p class="text-muted">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
          </div>
        </div>
      </div>
    </section> 
<section class="theMap">
  <div class="container-fluid">
    <div class="container text-center">
      <div class=" p-lg-5">
        <div class="p-4">
          <div class="row mb-5">
            <div class="col-lg-7 mx-auto">
              <h2>What determined that you are our target audience</h2>
              <p class="text-muted lightText">Lorem iipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                nonumy eirmod
                tempor.</p>
            </div>
          </div>
          <div class="row gy-3">
            <div class="col-lg-4">
              <div class="card text-center ">
                <div class="align-items-center">
                  <img class="pt-3" src="/assets/images/log.png" alt="" style="width: 100px;">
                </div>

                <div class="card-body">
                  <h5 class="card-title">Quality Coordinator</h5>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, corporis! Esse ad
                    consequuntur at quis! Maxime in harum fuga minus?.
                  </p>
                  <button type="button" class="btn1">Button</button>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card text-center ">
                <div class="align-items-center">
                  <img class="pt-3" src="/assets/images/pa.png" alt="" style="width: 100px;">
                </div>

                <div class="card-body">
                  <h5 class="card-title">Quality Coordinator</h5>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, corporis! Esse ad
                    consequuntur at quis! Maxime in harum fuga minus?.
                  </p>
                  <button type="button" class="btn1">Button</button>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card text-center ">
                <div class="align-items-center">
                  <img class="pt-3" src="/assets/images/loo.png" alt="" style="width: 100px;">
                </div>

                <div class="card-body">
                  <h5 class="card-title">Quality Coordinator</h5>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, corporis! Esse ad
                    consequuntur at quis! Maxime in harum fuga minus?.
                  </p>
                  <button type="button" class="btn1">Button</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row gy-3 mt-3">
            <div class="col-lg-4">
              <div class="card text-center ">
                <div class="align-items-center">
                  <img class="pt-3" src="/assets/images/log.png" alt="" style="width: 100px;">
                </div>

                <div class="card-body">
                  <h5 class="card-title">Quality Coordinator</h5>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, corporis! Esse ad
                    consequuntur at quis! Maxime in harum fuga minus?.
                  </p>
                  <button type="button" class="btn1">Button</button>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card text-center ">
                <div class="align-items-center">
                  <img class="pt-3" src="/assets/images/pa.png" alt="" style="width: 100px;">
                </div>

                <div class="card-body">
                  <h5 class="card-title">Quality Coordinator</h5>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, corporis! Esse ad
                    consequuntur at quis! Maxime in harum fuga minus?.
                  </p>
                  <button type="button" class="btn1">Button</button>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card text-center ">
                <div class="align-items-center">
                  <img class="pt-3" src="/assets/images/loo.png" alt="" style="width: 100px;">
                </div>

                <div class="card-body">
                  <h5 class="card-title">Quality Coordinator</h5>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, corporis! Esse ad
                    consequuntur at quis! Maxime in harum fuga minus?.
                  </p>
                  <button type="button" class="btn1">Button</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-subscribe></app-subscribe>
<app-footer></app-footer>