    <app-header></app-header>
    
    <!-- HERO SECTION-->
    <section class="hero with-pattern py-5 bg-light">
      <div class="container py-5 my-5">
        <div class="row">
          <div class="col-md-7 mx-auto text-center">
            <p class="h6 h66 text-uppercase">Contact us</p>
            <h1>We’d love to hear from you</h1>
            <p class="text-muted">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- CONTACT DETAILS SECTION    -->
    <section class="pulled-up-section">
      <div class="container text-center">
        <div class="card shadow with-pattern-full">
          <div class="card-body py-5 p-md-5 index-forward">
            <div class="row gy-4">
              <div class="col-md-4">
                <div class="icon-block icon-block-lg mx-auto mb-3">
                  <svg class="svg-icon text-primary">
                    <use xlink:href="#landline-1"> </use>
                  </svg>
                </div>
                <h3 class="h4">Phone</h3>
                <ul class="list-unstyled mb-0">
                  <li class="text-muted"><a class="listText" href="tel:+001234567890">+ 00 123 456 7890</a></li>
                  <li class="text-muted"><a class="listText" href="tel:+001234567890">+ 00 123 456 7890</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <div class="icon-block icon-block-lg mx-auto mb-3">
                  <svg class="svg-icon text-primary">
                    <use xlink:href="#envelope-1"> </use>
                  </svg>
                </div>
                <h3 class="h4">Support</h3>
                <ul class="list-unstyled mb-0">
                  <li class="text-muted"><a class="listText" href="mailto:iso@company.com">Info@company.com</a></li>
                  <li class="text-muted"><a class="listText" href="mailto:iso@support.com">Info@corporate.com</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-4">
                <div class="icon-block icon-block-lg mx-auto mb-3">
                  <svg class="svg-icon text-primary">
                    <use xlink:href="#pin-1"> </use>
                  </svg>
                </div>
                <h3 class="h4">Location</h3>
                <ul class="list-unstyled mb-0 px-5">
                  <li class="text-muted"><a class="listText" href="#!">1234 Mende, Mainland, Lagos, Nigeria </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- CONTACT FORM SECTION-->
    <section class="py-5">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-7 mx-auto text-center mb-5">
            <h2>Looking for a excellent Business idea?</h2>
            <p class="text-muted">Seamlessly deliver pandemic e-services and next-generation initiatives.</p><a
              class="btn1" href="#!"><i class="fas fa-globe-americas me-2"></i>Get directions</a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <form action="#">
              <div class="row gy-3">
                <div class="col-lg-4 col-md-6">
                  <input class="form-control form-control-lg" type="text" placeholder="Full name">
                </div>
                <div class="col-lg-4 col-md-6">
                  <input class="form-control form-control-lg" type="email" placeholder="Email address">
                </div>
                <div class="col-lg-4">
                  <input class="form-control form-control-lg" type="text" placeholder="Subject">
                </div>
                <div class="col-12">
                  <textarea class="form-control" rows="5" placeholder="How can we help you"></textarea>
                </div>
                <div class="col-12 text-md-center mb-0">
                  <button class="btn1" type="submit">Send
                    message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Map Section -->
    <section class="map" id="map"></section>
    <app-subscribe></app-subscribe>
    <app-footer></app-footer>

    <!-- <router-outlet></router-outlet> -->